
checkout-demo-swift/checkout-demo-swift\.xcodeproj/xcuserdata/hansyenrique\.xcuserdatad/xcschemes/xcschememanagement\.plist

checkout-demo-objc/checkout-demo-objc\.xcodeproj/xcuserdata/hansyenrique\.xcuserdatad/xcschemes/xcschememanagement\.plist

athmovil-checkout\.xcworkspace/xcuserdata/hansyenrique\.xcuserdatad/UserInterfaceState\.xcuserstate

athm-simulator/athm-simulator\.xcodeproj/xcuserdata/hansyenrique\.xcuserdatad/xcschemes/xcschememanagement\.plist

athm-checkout/athm-checkout\.xcodeproj/xcuserdata/hansyenrique\.xcuserdatad/xcschemes/xcschememanagement\.plist

athmovil-checkout\.xcworkspace/xcuserdata/ET66662\.xcuserdatad/UserInterfaceState\.xcuserstate

athmovil-checkout\.xcworkspace/xcuserdata/ET66662\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

athmovil-checkout\.xcworkspace/xcuserdata/ET66662\.xcuserdatad/

\.DS_Store

athmovil-checkout\.xcworkspace/xcuserdata/cristopherbautista\.xcuserdatad/UserInterfaceState\.xcuserstate

checkout-demo-swift/checkout-demo-swift\.xcodeproj/xcuserdata/cristopherbautista\.xcuserdatad/xcschemes/xcschememanagement\.plist

athm-checkout/athm-checkout.xcodeproj/project.xcworkspace/xcuserdata/ET66662.xcuserdatad/

athmovil-checkout.xcodeproj/project.xcworkspace/xcuserdata/cristopherbautista.xcuserdatad/

athmovil-checkout.xcodeproj/xcuserdata/cristopherbautista.xcuserdatad/

Example/athmovil-checkout-demo.xcodeproj/project.xcworkspace/xcuserdata/cristopherbautista.xcuserdatad/

Example/athmovil-checkout-demo.xcodeproj/xcuserdata/cristopherbautista.xcuserdatad/

Example/athmovil-checkout-demo.xcworkspace/xcuserdata/cristopherbautista.xcuserdatad/

Simulator/athm-simulator.xcodeproj/xcuserdata/cristopherbautista.xcuserdatad/

Simulator/athm-simulator.xcodeproj/xcuserdata/ET66662.xcuserdatad/

Simulator/athm-simulator.xcodeproj/project.xcworkspace/xcuserdata/cristopherbautista.xcuserdatad/

Simulator/athm-simulator.xcodeproj/project.xcworkspace/xcuserdata/ET66662.xcuserdatad/
